.navbar {
    display: flex;
    align-items: center;
    height: 68px;
    background-color: #10847e;
    padding-left: 15px;
    padding-right: 15px;
    gap: 25px;

}

.Logo {
    max-width: 165px;
    max-height: 50px;
}

.logoImg {
    width: 100%;
    height: 100%;
}

.input {
    height: 41.5px;
    width: 100%;
    letter-spacing: 0.5px;
    border: none;

}


.InputBox {

    width: 65%;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    align-items: center;
    background-color: white;
    font-weight: 600;
    max-height: 48px;
    border-radius: 10px;
}

.options {
    width: 190px;
    color: #10847e;
    height: 48px;
    border-radius: 5px;
    border: none;



}

.select {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #10847e;
    font-weight: bold;
    letter-spacing: 0.2px;
    border: none;
    text-align: center;


}

.searchdiv {

    border-left-color: white;
    color: gray;
    background-color: #e7e7e7;
    max-height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 24% 0%;
}

.linksNavbar {
    background-color: #10847e;
    height: 44px;
    display: flex;
    justify-content: space-between;
    padding: 0% 2% 0% 15%;
    align-items: center;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 32.22%);
    grid-template-rows: 112px;
    align-items: center;
    gap: 2%;
    cursor: pointer;


}



.links {
    display: flex;
    justify-content: space-between;

}

.NavLink:hover {
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}



.NavLink {
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-left: 22px;
}

* {
    font-family: Open Sans, sans-serif;
}

.icon {
    display: flex;
    align-items: center;
}

.secondLink {
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-left: 4px;
    letter-spacing: 1px;

}

@media (max-width: 850px) {

    .linksNavbar {
        display: flex;
        flex-wrap: wrap;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

.input:focus {
    outline: none;
    box-shadow: none;
}

.select:focus {
    outline: none;
    box-shadow: none;

}

.labTestHover:hover {
    border: 2px solid teal
}

.labTestHover:hover Button {
    background-color: teal;
    color: white;


}

.flex {

}

.flex:hover {
    border: 2px solid teal;
}