.active {
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}